<mat-card>
<div class="produto-box">
    <button routerLink="/cadastro" mat-raised-button color="primary">Cadastrar novo produto</button>
    <div class="input_box">
        <mat-form-field>
        <mat-label>Procurar:</mat-label>
        <input matInput type="text" placeholder="Qual produto está buscando?" (input)="search($event)">
        </mat-form-field>
    </div>
</div>


<table mat-table [dataSource]="produtos" class="mat-elevation-z8">
  <ng-container matColumnDef="Situacao">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let produto"></td>
  </ng-container>

  <ng-container matColumnDef="Nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="Preço">
    <th mat-header-cell *matHeaderCellDef>Preço</th>
    <td mat-cell *matCellDef="let produto"> {{produto.preco}} </td>
  </ng-container>

  <ng-container matColumnDef="Estoque">
    <th mat-header-cell *matHeaderCellDef>Estoque</th>
    <td mat-cell *matCellDef="let produto"> {{produto.estoque}} </td>
  </ng-container>

  <ng-container matColumnDef="Ações">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let produto"> 
           <button routerLink="/editar/{{produto.id}}" mat-raised-button color="accent">Editar</button>
                <button routerLink="/detalhes/{{produto.id}}" mat-raised-button>Detalhes</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Excluir">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let produto"> 
        <button mat-raised-button color="warn" (click)="OpenDialog(produto.id)">Excluir</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunas"></tr>
  <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
</table>
</mat-card>

