<mat-card>
<div>
    <h1>Detalhes Produtos</h1>
</div>

<div *ngIf="produto">
    <form>
        <div class="input_box">
            <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="text" value="{{produto.nome}}" disabled>
            </mat-form-field>
        </div>

         <div class="input_box">
            <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput type="text" value="{{produto.preco}}" disabled>
            </mat-form-field>
        </div>

         <div class="input_box">
            <mat-form-field>
            <mat-label>Estoque</mat-label>
            <input matInput type="number" value="{{produto.estoque}}" disabled>
            </mat-form-field>
        </div>

        <div class="btn-box">
            <button routerLink="" mat-raised-button color="warn">Voltar</button>
        </div>
    </form>
</div>
</mat-card>